

replicaCount: 1

image:
  repository: navaneetha4/task10-flask-devops-app
  tag: "latest"
  pullPolicy: IfNotPresent

service:
  type: NodePort
  port: 5000

resources:
  requests:
    cpu: "100m"
    memory: "128Mi"
  limits:
    cpu: "200m"
    memory: "256Mi"

livenessProbe:
  path: /
  initialDelaySeconds: 10
  periodSeconds: 10

readinessProbe:
  path: /
  initialDelaySeconds: 5
  periodSeconds: 5
